{% extends 'master.html' %}

{% block title %}Complaint Registration Form{% endblock %}

{% block content %}

<a href="{% url 'user_dashboard' %}" class="back-arrow">←</a>

<div class="dashboard-content">
    

    <div class="complaint-form-container">
        <h2>Complaint Registration Form</h2>
        {% if messages %}
               <div class="success-message">{{ message }}</div>
         
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="field-errors">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="field-errors">{{ error }}</div>
            {% endfor %}
            <button class="cancel_btn" type="reset">Cancel</button>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}