{% extends "master.html" %}

{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="back-arrow-container">
        <a href="{% url 'forgot_password' %}" class="back-arrow">←</a>
</div>

<div class="reset-container">
    <div class="reset-box">

        {% if success %}
        
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

         
            <div class="login-link" style="margin-top:20px;">
                <a href="{% url 'login' %}" class="reset-btn">Login</a>
            </div>
        {% else %}
            <h1>Reset Password</h1>
            <p>Enter a new password.</p>

            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label>New Password:</label>
                    <input type="password" name="password" required placeholder="Enter new password">
                </div>

                <div class="input-group">
                    <label>Confirm Password:</label>
                    <input type="password" name="confirm_password" required placeholder="Confirm new password">
                </div>

                <button type="submit" class="reset-btn">Reset Password</button>
            </form>

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}

    </div>
</div>



{% endblock %}
